body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    flex-direction: column;
}

h1{
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin: 20px 0;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #4caf50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    position: relative;
}

.card.flipped {
    background-color: yellowgreen;
    color: black;
}

.card.matched {
    background-color: #ddd;
}

button {
    padding: 10px, 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}